@model GuidanceAddGuidanceViewModel

@{
    ViewData["Title"] = "Update Guidance";
}

<form method="post" asp-controller="Admin" asp-action="UpdateGuidance">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3 fw-bold">
        <label class="form-label">BESCHRIJVING</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3 fw-bold">
        <label class="form-label">ORDER</label>
        <input asp-for="Order" class="form-control" type="number" />
        <span asp-validation-for="Order" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="SelectedRequirementId" class="form-label fw-bold">VEREISTE</label>
        <select asp-for="SelectedRequirementId" asp-items="Model.Requirements">
            <option value="">-- Selecteer-een-vereiste --</option>
        </select>
        <span asp-validation-for="SelectedRequirementId" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsTitle" class="form-check-input" type="checkbox" />
        <label asp-for="IsTitle" class="form-check-label"></label>
        <span asp-validation-for="IsTitle" class="text-danger"></span>
    </div>

    <button type="submit" asp-action="UpdateGuidance" class="btn btn-success">WIJZIGINGEN OPSLAAN</button>
    <a asp-action="Guidances" class="btn btn-secondary">ANNULEREN</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

